---
import type { HeroBlockFragment } from "@generated/datocms";
import { Image } from "@datocms/astro";
import { Button } from "@components";

type Props = {
  block: HeroBlockFragment;
};

const { block } = Astro.props;
---

<section class="hero-block">
  <div class="hero-block__visual"></div>
  <div class="hero-block__content">
    <div class="hero-block-actions">
      <Image
        pictureClass="hero-block-picture"
        data={block.subjectImage.responsiveImage}
        priority={true}
        sizes="(min-width: 500px) 200px, 150px"
      />

      <Button
        as="a"
        icon="github"
        variant="secondary"
        href="https://github.com/slimluccii"
        prefetch={false}>GitHub</Button
      >
    </div>
    <div class="hero-block-details">
      <h1>{block.title}</h1>
      <p>{block.description}</p>
    </div>
  </div>
</section>

<style>
  .hero-block {
    --image-size: 150px;
    position: relative;
    margin: -1px;
    border: 1px solid var(--color-surface-base);
    border-block-start-color: transparent;

    @media (min-width: 500px) {
      --image-size: 200px;
    }
  }

  .hero-block__visual {
    /*aspect-ratio: 16 / 9;*/
    inline-size: 100%;
    block-size: auto;
    block-size: var(--image-size);
  }

  .hero-block :global(.hero-block-picture) {
    position: absolute;
    inset-block-end: 0px;
    inset-inline-start: 0px;
    width: var(--image-size);
    height: var(--image-size);
  }

  .hero-block__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size-l);
    margin: -1px;
    border: 1px solid var(--color-surface-base);
    background-color: var(--color-surface-base);
    padding: var(--spacing-size-l) var(--spacing-size-l) var(--spacing-size-xxl)
      var(--spacing-size-l);
  }

  .hero-block-actions {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-inline-start: calc(var(--image-size) + var(--spacing-size-l));
  }

  .hero-block-details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size-s);
  }

  .hero-block__content h1 {
    font-weight: 500;
    font-size: 35px;
  }

  @media (min-width: 500px) {
    .hero-block__content h1 {
      font-size: 45px;
    }
  }
</style>
